/* ==========================================================================
   6. Estilos do Portfólio
   ========================================================================== */

.portfolio-container {
  max-width: 960px;
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  color: #333;
}

.portfolio-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.portfolio-container h2 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid #1030a4;
  display: inline-block;
  padding-bottom: 5px;
}

.portfolio-container p {
  font-size: 16px;
  line-height: 1.6;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  flex-basis: 30%;
  min-width: 250px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  color: #1030a4;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.project-description {
  font-size: 14px;
  flex-grow: 1; /* Faz a descrição ocupar o espaço disponível */
  margin-bottom: 20px;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link-projeto {
  width: 110px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}
